{% if card.uniqueness %}{{card.uniqueness}} {% endif %}
<a href="{{ card.url }}" class="card-name card-tip{% if card.available == false %} card-preview{% endif %}" data-code="{{ card.code }}">{{ card.name }}</a>
