<div class="card-info">
	<p>
	{% if card.type_code == 'effect' or card.type_code == 'interrupt' or card.type_code == 'weapon' or card.type_code == 'vehicle' %}
		{% if card.subtype_name is not empty %}<span class="card-subtype">{{ card.subtype_name }}</span> {% endif %}
		<span class="card-type">{{ card.type_name }}.</span>
	{% else %}
		<span class="card-type">{{ card.type_name }}.</span>
		{% if card.subtype_name is not empty %}<span class="card-subtype">{{ card.subtype_name }}.</span>{% endif %}
	{% endif %}
	<span class="card-props">{% include 'AppBundle:Search:card-props.html.twig' %}</span>
	</p>
</div>
