{% if card.type_code == 'location' %}
	<div class="card-text border-location-light">
		{{ card.light_side_text|raw }}
	</div>
	<div class="card-text border-location-dark">
		{{ card.dark_side_text|raw }}
	</div>
{% else %}
	<div class="card-text border-{{ card.side_code }}">
		{{ card.gametext|raw }}
	</div>
{% endif %}