
.icon {
	display: inline-block;
	vertical-align: sub;
	margin-right: 2px;
	width: 16px;
	height: 16px;
	background-image: url('/bundles/app/images/icons/type-icons-16.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.icon {
		display: inline-block;
		vertical-align: sub;
		margin-right: 2px;
		width: 16px;
		height: 16px;
		background-image: url('/bundles/app/images/icons/type-icons-32.png');
		background-size: 16px 368px;
	}
}

.icon-sith {
	background-position: 0 0;
}

.icon-republic {
	background-position: 0 -16px;
}

.icon-jedi-master, .icon-location-light, .deck-light .icon-location {
	background-position: 0 -32px;
}

.icon-first-order {
	background-position: 0 -48px;
}

.icon-droid {
	background-position: 0 -64px;
}

.icon-dark-jedi-master, .icon-dark-jedi-master-imperial, .icon-location-dark, .deck-dark .icon-location {
	background-position: 0 -80px;
}

.icon-resistance {
	background-position: 0 -96px;
}

.icon-rebel, .icon-rebel-republic, .icon-character-light, .deck-light .icon-character {
	background-position: 0 -112px;
}

.icon-imperial, .icon-character-dark, .deck-dark .icon-character {
	background-position: 0 -128px;
}

.icon-alien, .icon-alien-rebel, .icon-alien-imperial, .icon-alien-resistance {
	background-position: 0 -144px;
}

.icon-weapon {
	background-position: 0 -160px;
}

.icon-vehicle {
	background-position: 0 -176px;
}

.icon-starship {
	background-position: 0 -192px;
}

.icon-podracer {
	background-position: 0 -208px;
}

.icon-objective {
	background-position: 0 -224px;
}

.icon-jedi-test {
	background-position: 0 -240px;
}

.icon-interrupt {
	background-position: 0 -256px;
}

.icon-epic-event {
	background-position: 0 -272px;
}

.icon-effect {
	background-position: 0 -288px;
}

.icon-device {
	background-position: 0 -304px;
}

.icon-defensive-shield {
	background-position: 0 -320px;
}

.icon-admirals-order {
	background-position: 0 -336px;
}

.icon-creature {
	background-position: 0 -352px;
}

.icon-location, .icon-character {
	display: none;
}