
/* fonts */

body {
}


.card-content {

}
.card-content abbr[title] {
    border-bottom: none;
}
.card-name {
    font-family: 'Anton', sans-serif;
    font-weight: normal;
}
a.card-name:hover {
  text-decoration: none;
}
.card-preview {
    color: red;
}
.card-type, .card-subtype {
    font-weight: 700;
}
.card-text {
  margin-bottom: 15px;
  min-height:100px;
}
.card-text.border-light {
  background-color: #f5f5f5;
  border-radius:10px;
  border:4px solid #f0f0f0;
}
.card-text.border-dark {
  background-color: #101010;
  border:4px solid #37474c;
  color:#fff;
  border-radius: 2px;
}
.card-text.border-location-light {
  background-color: #f5f5f5;
  color:#333;
  padding:10px 20px;
  border-radius: 5px;
}
.card-text.border-location-dark {
  background-color: #101010;
  color:#fff;
  padding:10px 20px;
  border-radius: 5px;
}
.card-text p {
    margin: 0;
    padding:15px 20px;
    font-size:15px;
    line-height: 1.5em;
}
.card-flavor {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight:300;
}
.card-flavor cite {
    white-space: nowrap;
}
.card-flavor cite::before {
    /* en dash followed by non-breaking zero-width space */
    content: "\2013\FEFF";
}

.set-code, .rarity-code {
  text-transform: uppercase;
}

.color-military {
    color: #c8232a;
}
.color-intrigue {
    color: #13522f;
}
.color-power {
    color: #292e5f;
}

.table-expanded>thead>tr>th, .table-expanded>tbody>tr>th, .table-expanded>tfoot>tr>th, .table-expanded>thead>tr>td, .table-expanded>tbody>tr>td, .table-expanded>tfoot>tr>td {
    padding: 16px 8px;
}
.navbar-static-top {
    z-index: auto;
}

.display-spoiler-card {
    margin-bottom: 1em;
}

.display-spoiler-card .side-icon {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 8em;
    left: 0;
    z-index: 0;
    opacity: 0.1;
}

.display-spoiler-card h4 {
    border-bottom: 1px solid #ddd;
}
.deck-loading {
    padding: 50px 0;
    text-align: center;
}
.tab-content {
    padding-top: 15px;
}
.dropdown-menu label {
    margin: 0;
}
.dropdown-menu input[type=checkbox], .dropdown-menu input[type=radio] {
    margin: -4px 8px 0 -6px;
}

html, body {
    height: 100%;
    min-height: 100%;
}
td.type, td.side {
    text-align:center;
}
.container.main {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container.main.white {
    background-color: #fff;
}
.container.main.admin {
    background-color: #fff;
    border: 1px solid red;
}
#wrapper {
    min-height: 100%;
    border-bottom: 10px solid #000;
    padding-bottom: 100px;
}
footer {
    padding-top: 20px;
    background-color: #fff;
}
.navbar-default {
    font-size: 16px;
}

.navbar {
  margin-bottom: 0;
}

div.tags span.tag {
    font-size: 75%;
    color: darkgray;
}
div.tags span.tag:not(:first-child)::before {
    content: " - ";
}

.decks-actions .btn{
    margin-bottom: 3px;
}

.social-icons>*{margin-left:5px}
.social-icon-like{color:red}
.social-icon-favorite{color:orange}
.social-icon-comment{color:green}
.social-icon-version{color:blue}

.pager li > a, .pager li > span {
  border-radius: 5px;
}

.pager li > a:hover, .pager li > a:focus {
  background-color:#101010;
  border-color:#101010;
  color:#fff;
}

.panel-default.border-dark, .panel-default.border-light {
  border-color:#111;
  border-width: 12px;
  border-radius: 10px;
  background-color: #111;
}

.panel-default.border-dark {
  color:#fff;
}

.panel-default.border-dark > .panel-heading, .panel-default.border-light > .panel-heading {
  border-width:4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.panel-default.border-dark > .panel-heading {
  color:#fff;
  background-color: #29393d;
  border-color: rgba(255,255,255,.05);
}

.panel-default.border-light > .panel-heading {
  background-color: #f5f5f5;
  border-color:#f0f0f0;
}

.panel-default.border-dark .panel-body, .panel-default.border-light .panel-body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.panel-default.border-dark .panel-body {
  background: rgb(74,89,105);
  background: linear-gradient(15deg, rgba(74,89,105,1) 0%, rgba(35,49,52,1) 50%);
}

.panel-default.border-light .panel-body {
  background-color: #fff;
}

.panel-heading .panel-subtitle {
  color: #777;
  float:right;
}

@media (min-width: 768px) {
  .container.main {
    margin-top: 20px;
  }
}

/*** generic ****/

.smaller {
    font-size: 70%;
}

/* for the sets list in card search */
ol {
    padding-left: 30px;
}

/********** icon-bg ***********/

.icon-bg:before {
    width: 100%;
    height: 100%;
    font-size: 5em;
    text-align: center;
    display: block;
    position: absolute;
    line-height:4em;
    left: 0;
    opacity: 0.1;
    z-index: 0;
}

/********* ONE DECK *********/

.deck-intro .media-left {
    font-size: 96px;
}
.deck-intro .media-left span {
    padding: 10px;
}
.deck-content {
    margin-bottom: 15px;
}
.deck-content .invalid-card {
    text-decoration: line-through;
}

/********** DECK EDITOR ************/

#collection-grid .col-sm-6 .media, #collection-grid .col-sm-4 .media {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted lightgray;
    overflow: hidden;
}
#collection-grid .col-sm-6 .media-object {
    height: 100px;
}
#collection-grid .col-sm-4 .media-object {
    height: 70px;
}

#collection-table tr.card-container > td {
  vertical-align: middle;
}

.thumbnail-side img {
  border-radius: 10px;
}

/********* LIST OF DECKS ************/

.list-decks>tbody>tr>td {
    vertical-align: middle;
}
.list-decks img {
    height: 63px;
    width: 45px;
}
#tag_toggles button {
    margin-bottom: 4px;
    margin-right: 4px;
}

/********** NEW DECK **********/

.list-sides li label {
}

/************ DECK GALLERY **********/

#deck-gallery table { width: 100%; table-layout: fixed; border-collapse: collapse; overflow: hidden }
#deck-gallery table td { padding: 0 }
#deck-gallery table td > div { height: 100px; overflow: visible; position: relative }
#deck-gallery table td > div > img { height: 100% ; border: 1px solid white; border-radius: 10px;}
#deck-gallery table td > div > div { background: rgba(0, 0, 0, 0.5); position: absolute; left: 1px; bottom: 1px; color: white; width: 24px; height: 24px; line-height: 24px; font-size: 16px; font-weight: bold; text-align: center; border-radius: 15px; font-family: monospace }

/********* DRAW SIMULATOR ************/

#table-draw-simulator-content img {width:98px;height:136px;float:left;margin:5px;box-shadow: black 0px 0px 5px;border-radius: 5px;}
#table-draw-simulator-content img.trashed {opacity: 0.25;box-shadow: none;}
#table-draw-simulator-content img.trashed:hover {opacity: 0.75;}
#table-draw-simulator-content div.card-proxy {background:#888;color:white;width:99px;height:138px;float:left;margin:5px;box-shadow: black 0px 0px 5px;border-radius: 5px;}
#table-draw-simulator-content img.card-proxy.trashed {opacity: 0.25;box-shadow: none;}
#table-draw-simulator-content img.card-proxy.trashed:hover {opacity: 0.75;}
#table-draw-simulator-content div.card-proxy div{position: relative;top: 50%; transform: translateY(-50%);text-align:center}
#draw-simulator-special {display: none;}

/*********** TYPEAHEAD **************/

.twitter-typeahead{width:100%;background-color:#fff}
.twitter-typeahead .tt-hint{color:#aaa;margin-left:11px;margin-top:4px;display:none}
.twitter-typeahead .tt-query{margin-bottom:0}
.tt-dropdown-menu{min-width:160px;margin-top:2px;padding:5px 0;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);*border-right-width:2px;*border-bottom-width:2px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}
.tt-suggestion{display:block;padding:3px 20px}
.tt-suggestion.tt-cursor{color:#fff;background-color:#0081c2;background-image:-moz-linear-gradient(top,#08c,#0077b3);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));background-image:-webkit-linear-gradient(top,#08c,#0077b3);background-image:-o-linear-gradient(top,#08c,#0077b3);background-image:linear-gradient(to bottom,#08c,#0077b3);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0)}
.tt-suggestion.tt-cursor a{color:#fff}
.tt-suggestion p{margin:0}

/************** QTIP ****************/
.qtip-thronesdb{border-radius:2px;max-width:400px;min-width:250px;}
.qtip-thronesdb-text{font-size:15px}
.qtip-thronesdb-image{}

/***************** THUMBNAIL CARD IMAGE **************/

.card-thumbnail {
  background-attachment:scroll;
  background-origin:padding-box;
  background-clip:border-box;
  background-repeat:no-repeat;
  background-size: 100px 140px;
  background-position: 50% 43%;
  margin:0 0 0 10px;
  padding:0;
  border-radius: 5px;
  position:relative;
  width: 78px;
  height:50px;
  float:right;
}

.card-thumbnail-horizontal {
  background-size: 140px 100px;
}

.card-thumbnail-objective, .card-thumbnail-epic-event, .card-thumbnail-jedi-test {
  background-position: 50% 28%;
  height:55px;
}

.card-thumbnail-character {
  background-position: 50% 45%;
  height:55px;
}

.card-thumbnail-location {
  background-position: 50% 50%;
}

/************** INDEX PAGE ***************/

h1.site-title {
    font-family: 'Anton', sans-serif;
    position:relative;
    font-size:64px;
    text-transform: uppercase;
    text-align:center;
    margin-top: 0;
}
div.site-slogan {
    font-family: 'Anton', sans-serif;
    position:relative;
    font-size:30px;
    text-align:center;
}

/************ LIST OF DECKLISTS **************/

.decklist-side-image img {
    height: 64px;
}

/************* DECKLIST *********************/

.row.title {
    padding-top:20px;
    padding-bottom:10px
}
#deck-description h1 {
    font-size: 171%;
}
#deck-description h2 {
    font-size: 143%;
}
#deck-description h3 {
    font-size: 121%;
}
#deck-description h4 {
    font-size: 107%;
}


/**************** REVIEW ON CARD PAGE ******************/

article.review {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #ddd;
}
article.review:first-child {
    margin-top: 0;
}
article.review .review-like {
    float:left;
    font-size: 120%;
    width:50px
}
article.review .review-content {
    margin-left: 50px
}
article.review .review-text :first-child {
    margin-top: 0px
}
article.review .review-date {
    clear: both;
    text-align: right
}
article.review .review-author {
    text-align: right
}
article.review .review-comment {
    border-top: 1px solid #ddd;
    padding: 0.5em;
}

/****************** BOOTSTRAP MARKDOWN *******************/

.md-editor.md-fullscreen-mode {
    z-index: 99;
}

/* PRINT STYLESHEETS */

@media print {
    h1 {
        font-size: 24px;
    }
    a[href]:after {
        content: none !important;
    }
    #wrapper {
        border: none;
        padding: 0;
        min-height: auto;
    }

    .col-print-1 {width:8%;  float:left;}
    .col-print-2 {width:16%; float:left;}
    .col-print-3 {width:25%; float:left;}
    .col-print-4 {width:33%; float:left;}
    .col-print-5 {width:42%; float:left;}
    .col-print-6 {width:50%; float:left;}
    .col-print-7 {width:58%; float:left;}
    .col-print-8 {width:66%; float:left;}
    .col-print-9 {width:75%; float:left;}
    .col-print-10{width:83%; float:left;}
    .col-print-11{width:92%; float:left;}
    .col-print-12{width:100%; float:left;}
}

/*************** DECK(LIST) COMPARE *****************/

.diff {
    background: rgba(255,0,0,.5);
}

/*************** Card *****************/

.card {
  max-width: 350px;
  max-height: 490px;
  border-radius: 10px;
  overflow: hidden;
}

.card.horizontal {
  max-width:490px;
  max-height: 350px;
}

/*************** Objective flip *****************/

.card-double-sided {
  width: 350px;
  height: 490px;
  perspective: 1000px;
}

.card-double-sided .card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  overflow: visible;
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-double-sided .card.is-flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card-double-sided .card .flip-tip {
  display: none;
  width: 100%;
  height:100%;
  z-index: 1;
  position: absolute;
  background-color: rgba(0,0,0,.5);
  color:#fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  line-height: 440px;
}

.card-double-sided .card:hover .flip-tip {
  display: block;
}

.card-double-sided .card.has-flipped:hover .flip-tip {
  display: none;
}

.card-double-sided .card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-double-sided .card__face--back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}