{% extends 'AppBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="main white container">

  <div class="page-content">
    <h1>{{ block('title') }}</h1>
    <p>This website is dedicated to providing a fast, powerful deck builder and search engine for the {{ game_name }} card game.</p>

    <h3>Development Status</h3>
    <p>This site is no longer actively maintained.</p>
    <p>I plan to continue hosting it for as long as possible, but no new features will be added, and no support will be provided.</p>
    <p>Anyone interested in hosting this project, or using the data to build something more modern, can view or clone the codebase on <a href="https://github.com/PrestonStahley/swccgdb/">GitHub</a>. I'm also happy to provide a full database export to anyone working on a successor.</p>
    <p>For deck building tools still being maintained, check out <a href="https://www.starwarsccg.org/online-play/#gemp">GEMP</a>, and the card viewer mobile apps <a href="https://play.google.com/store/apps/details?id=com.hatfat.swccg&hl=en_US">Comlink</a> and <a href="https://apps.apple.com/us/app/sw-ccg-holocron/id6473052017">Holocron</a>.</p>

    <h3>Credit</h3>
    <ul>
      <li>
        <p>This site would not exist without the excellent open source deck builder framework created by <a href="https://github.com/Alsciende">Alsciende</a>.</p>
      </li>
      <li>
        <p>Original card data provided by contributors to the <a href="https://www.starwarsccg.org/resources/software/">SW-IP database</a>.</p>
      </li>
      <li>
        <p>Card images provided by the Scomp Link Access project maintained by the <a href="https://www.starwarsccg.org/">Star Wars CCG Player's Committee</a>.</p>
      </li>
    </ul>
  </div>

</div>
{% endblock %}
